mode: deployment
image:
  repository: "otel/opentelemetry-collector-contrib"
config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:
      timeout: 1s
      send_batch_size: 1024

    resource/enrichment:
      attributes:
        - key: deployment.environment
          value: "sre-lab"
          action: upsert
        - key: k8s.cluster.name
          value: "carpenter-k3s-local"
          action: upsert
        - key: data.origin
          value: "otel-collector-gateway"
          action: insert

  exporters:
    # Saída 1: Grafana Tempo (Backend Atual)
    otlp:
      endpoint: "tempo.monitoring.svc.cluster.local:4317"
      tls:
        insecure: true
    
    # Saída 2: Debug/Console (Simula um segundo Vendor/Splunk)
    debug:
      verbosity: detailed

  service:
    pipelines:
      traces:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlp, debug] # <--- A mágica do Multi-Vendor acontece aqui
      metrics: null
      logs: null